{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body -%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ 'post.list.title'|trans }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> {{ 'home'|trans|capitalize }}</a></li>
            <li class="active">Post</li>

        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">All posts</h3>
                <div class="box-tools">
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('admin_post_new') }}" class="btn btn-default btn-sm">
                                <i class="fa fa-plus"></i> New post
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box-body">
                <table class="records_list table table-condensed">
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
                            <th{% if pagination.isSorted('p.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'p.title') }}</th>
                            <th>Slug</th>
                            <th>Abstract</th>
                            <th>Enabled</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in pagination %}
                            <tr>
                                <td><a href="{{ path('admin_post_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.title }}</td>
                                <td>{{ entity.slug }}</td>
                                <td>{{ entity.abstract }}</td>
                                <td>{{ entity.enabled ? 'yes' : 'no' }}</td>
                                <td>
                                    <ul class="list-inline">
                                        <li>
                                            <a href="{{ path('admin_post_show', { 'id': entity.id }) }}">{{ "show"|trans }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_post_edit', { 'id': entity.id }) }}">{{ "edit"|trans }}</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="count text-right">
                    Total of <span class="badge">{{ pagination.getTotalItemCount }}</span> posts.
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
