{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body -%}
{{ include('FlowcodeNewsBundle:AdminPost:newsHeader.html.twig') }}
<section class="content">
    <div class="box box-solid">
        <div class="box-header">
            <div class="box-tools">
                <a href="{{ path('admin_post_new') }}" class="btn btn-link btn-sm">
                    <i class="fa fa-plus"></i> {{ "New post"|trans }}
                </a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th{% if pagination.isSorted('p.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'p.title') }}</th>
                        <th>{{ "Category"|trans }}</th>
                        <th>{{ "Enabled"|trans }}</th>
                        <th {% if pagination.isSorted('p.Title') %} class="sorted"{% endif %}>
                            {{ knp_pagination_sortable(pagination, 'Published On'|trans, 'p.published') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in pagination %}
                    <tr>
                        <td><a href="{{ path('admin_post_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                        <td>{{ entity.category}}</td>
                        <td>{{ entity.enabled ? 'yes' : 'no' }}</td>
                        <td>{{ entity.published|date('Y/m/d')}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="count text-right">
                Total of <span class="badge">{{ pagination.getTotalItemCount }}</span> posts.
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
