{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body -%}
{{ include('FlowcodeNewsBundle:AdminPost:newsHeader.html.twig') }}
<section class="content">
    <div class="row">
        <div class="col-sm-4">
            <div class="box box-solid">
                <div class="box-header">
                    <h2 class="box-title">
                        {{ entity.title|trans|capitalize }}
                    </h2>
                    <div class="box-tools">
                        <a href="{{ path('admin_post_edit', {'id':entity.id}) }}" class="btn btn-link btn-sm">
                            {{ 'Edit'|trans }}
                        </a>
                        <a href="{{ path('admin_post') }}" class="btn btn-link btn-sm">
                            {{ 'Back to the list'|trans }}
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-condensed">
                        <tr>
                            <td>{{ 'Slug'|trans }}</td>
                            <td>{{ entity.slug }}</td>
                        </tr>
                        {% if entity.category is defined %}
                            <tr>
                                <td>{{ 'category'|trans }}</td>
                                <td>{{ entity.category }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{{ 'Enabled'|trans }}</td>
                            <td>
                                {% if entity.enabled %}
                                {{ 'enabled'|trans }}
                                {% else %}
                                {{ 'disabled'|trans }}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="box box-solid">
                <div class="box-header">
                    <h2 class="box-title">
                        {{ 'preview'|trans|capitalize }}
                    </h2>
                    <div class="box-tools"></div>
                </div>
                <div class="box-body">
                    <h3>
                        {{ entity.title|capitalize }}
                    </h3>
                    <div>
                        {{ entity.abstract }}
                    </div>
                    <div>
                        {{ entity.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
